.block-top-tags {
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 1rem;
    a {
      color: var(--primary);
      &:before {
        content: "#";
      }
    }
  }
}
